@import '../../styles/variables.scss';

.article {
  &__title {
    color: $article-title-font-color;
    font-weight: $article-title-font-weight;
    font-size: $article-title-font-size-sm;
    line-height: $article-title-line-height-sm;

    @include md {
      font-size: $article-title-font-size-md;
      line-height: $article-title-line-height-md;
    }

    @include lg {
      font-size: $article-title-font-size-lg;
      line-height: $article-title-line-height-lg;
    }
  }

  &__visible-text, &__hidden-text {
    margin: 20px 0;
    opacity: $article-text-color-opacity;
    color: $article-text-font-color;
    font-weight: $article-text-font-weight;
    font-size: $article-text-font-size-sm;
    line-height: $article-text-line-height-sm;

    @include md {
      font-size: $article-text-font-size-md;
      line-height: $article-text-line-height-lg;
    }

    @include lg {
      font-size: $article-text-font-size-lg;
      line-height: $article-text-line-height-lg;
    }
  }

  &__read-more,
  &__read-less {
    color: $article-read-more-button-color;
    font-weight: $article-read-more-button-font-weight;
    font-size: $article-read-more-button-font-size-sm;
    line-height: $article-read-more-button-line-height-sm;

    @include md {
      font-size: $article-read-more-button-font-size-md;
      line-height: $article-read-more-button-line-height-md;
    }

    @include lg {
      font-size: $article-read-more-button-font-size-lg;
      line-height: $article-read-more-button-line-height-lg;
    }
  }

  /* READ MORE/LESS LOGIC */
  &__hidden-text,
  &__read-less {
    display: none;
  }

  &__read-more-checkbox:checked ~ &__hidden-text,
  &__read-more-checkbox:checked ~ &__read-less {
    display: block;
  }

  &__read-more-checkbox:checked ~ &__read-more {
    display: none;
  }
}
