/* Colors */
$pink: #FF70D9;
$yellow: #EBFF00;
$yellow60: #EBFF0099;
$blue: #304571;
$black: #000000;
$white: #FFFFFF;

/* Typography */
$font: "Lato", sans-serif;
$fontWeightBold: 700;
$fontWeightExtraBold: 900;

$textFontSizeS: 16px;
$textFontSizeM: 22px;
$textFontSizeL: 32px;
$textMarginS: 17px;
$textMarginM: 22px;
$textMarginL: 22px;

$titleFontSizeS: 36px;
$titleFontSizeM: 48px;
$titleFontSizeL: 72px;

/* Breakpoints */
$screen-sm-min: 360px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1247px;
$screen-lg-min: 1248px;

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
      @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}