@import '../../styles/variables.scss';

.banner {
  height: 452px;
  background: url('../../assets/images/earth.png'), url('../../assets/images/spaceBanner.png');
  background-position: center -118px, right 0;
  background-repeat: no-repeat;
  background-size: 336px, cover;

  @include md {
    background-position: 550px center, right 0;
  }

  @include lg {
    background-position: 850px center, right 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 44px;
    width: 100%;
    height: 100%;

    @include md {
      justify-content: center;
      align-items: start;
  
      padding: 30px;
      width: 59%;
    }
  
    @include lg {
      justify-content: center;
      align-items: start;
  
      padding: 81px;
      width: 62%;
    }
  }

  &__title {
    text-align: center;
    color: $banner-title-color;
    font-weight: $banner-title-font-weight;
    font-size: $banner-title-font-size-sm;
    line-height: $banner-title-line-height-sm;

    &--strong {
      color: $pink;
    }

    @include md {
      text-align: left;
      font-size: $banner-title-font-size-md;
      line-height: $banner-title-line-height-md;
    }

    @include lg {
      text-align: left;
      font-size: $banner-title-font-size-lg;
      line-height: $banner-title-line-height-lg;
    }
  }

  &__text {
    text-align: center;
    color: $banner-text-color;
    font-weight: $banner-text-font-weight;
    font-size: $banner-text-font-size-sm;
    margin: 17px 0;
    line-height: $banner-text-line-height;

    &--strong {
      color: $yellow;
    }

    @include md {
      text-align: left;
      font-size: $banner-text-font-size-md;
      margin: 22px 0;
    }

    @include lg {
      text-align: left;
      font-size: $banner-text-font-size-lg;
      margin: 22px 0;
    }
  }
}
